<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<servlet>
    	<servlet-name>init</servlet-name>
    	<servlet-class>com.test.business.servlet.InitServlet</servlet-class>
    	<load-on-startup>1</load-on-startup>
	</servlet>

    <servlet-mapping>
        <servlet-name>restartservlet</servlet-name>
        <url-pattern>/restart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>restartservlet</servlet-name>
        <servlet-class>com.test.business.servlet.RestartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>serviceservlet</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>serviceservlet</servlet-name>
        <servlet-class>com.test.business.servlet.ServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>navigateServlet</servlet-name>
        <url-pattern>/navigate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>navigateServlet</servlet-name>
        <servlet-class>com.webmobile.servlet.NavigateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>mobileServiceServlet</servlet-name>
        <servlet-class>com.webmobile.servlet.MobileServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mobileServiceServlet</servlet-name>
        <url-pattern>/mobileService</url-pattern>
    </servlet-mapping>

</web-app>
